<header class="site-header" role="banner">

  <div class="container-fluid">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  
    {% if page_paths %}
      <nav class="site-nav row middle-xs">
          <div id="nav-btn" class="hamburguer">
              <span></span>
              <span></span>
              <span></span>
          </div>
        </label>
        <div class="whatsapp col-sm-4">
          <img src="/assets/images/simbolo-laranja.png" class="simbolo">
          <span>91 9 8998-9888</span>
          <span class="text font_small">Atendimento imediato!</span>
        </div>
        <div class="nav-links col-xs-12 col-sm-8 end-xs">
          <a href="/">Início</a>
          <a href="#quem-somos">Quem Somos</a>
          <a href="#como-funciona">Como Funciona?</a>
          <a href="#galeria">Galeria</a>
          <a href="#localizacao">Mapa</a>
          <a href="#contato">Contato</a>
        </div>
      </nav>
    {% endif %}
  </div>
</header>
