<header class="site-header" role="banner">

  <div class="container">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  
    {% if page_paths %}
      <nav class="site-nav row middle-xs">
          <div class="col-xs col-sm-4 end-xs start-sm" style="z-index:999;">
              <div class="hamburguer-wrapper">
                  <h4>MENU</h4>
                  <div id="nav-btn" class="hamburguer">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>
          </div>
        </label>
        <div class="whatsapp col-xs-8 col-sm-8 end-sm">
          <img src="{{ '/assets/images/simbolo-laranja.png' | prepend: site.baseurl }}" class="simbolo" style="display: none;">
          <div class="fones">
              <span class="number">(81) 9 9705-1156</span>
          </div>
          
          <div class="whatsapp-text">
              <i class="icon icon-whatsapp shake-top"></i>
              <span class="text font_small">Atendimento imediato pelo whatsapp</span>
          </div>
         
        </div>
        
      </nav>
    {% endif %}
  </div>
</header>
