<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    

    <main class="page-content" aria-label="Content">
      <section class="hero">
          {% include header.html %}
          <div class="hero-wrapper row center-xs">
            <div class="col-xs-12" style="z-index: 99;">
              <div class="logo">
                <img src="/assets/images/logo.png" alt="Bronzeado Natural">
              </div>
            </div>
            
            <div class="col-md-7 col-md-offset-1 start-md">
              <div class="phrases">
                <div><h4>Marcas Impecáveis</h4></div>
                <div><h4>Resultado Duradouro.</h4></div>
                <div><h4>Sessões de 120min</h4></div>
                <div><h4>Bronzeamento Saudável</h4></div>
              </div>
            </div>
            <a href="#quem-somos" class="arrow bounce"></a>
          </div>     
      </section>
      <div class="wrapper">
        <section id="quem-somos" class="row center-xs">
          <div class="col-xs-12">
            <h2 class="title title-regular">Quem Somos Nós?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, optio eligendi voluptatum odit harum, facilis exercitationem id culpa deleniti rerum ab enim debitis unde delectus ex voluptates. Suscipit, quas cumque!</p>
          </div>
          <div class="col-sm-4">
            <h2>2 Anos</h2>
            <p>Realizando Bronzeamento para diversas clientes no Recife</p>
          </div>
          <div class="col-sm-4">
            <h2>500+ Clientes</h2>
            <p>Atendidas desde o começo. Todas com ótimos resultados e sem complicações de saúde</p>
          </div>
          <div class="col-sm-4">
            <h2>Satisfação</h2>
            <p>Garantida para todas que fazem um bronzeamento natural conosco</p>
          </div>
        </section>
        <div class="separator"></div>
        <section id="como-funciona" class="row">
          <div class="col-xs-12 center-xs">
            <h2>Como Funciona?</h2>
          </div>
          <div class="col-sm-6">
            <h3>Bronzeamento</h3>
            <p>Banjo drinking vinegar viral, kogi stumptown pop-up semiotics palo santo. Mixtape wayfarers marfa, tacos jianbing enamel pin lo-fi beard taiyaki shaman fingerstache. Lumbersexual gentrify roof party, scenester air plant listicle live-edge.</p>
          </div>
          <div class="col-sm-6">
            <h3>Bronzeamento</h3>
            <p>Banjo drinking vinegar viral, kogi stumptown pop-up semiotics palo santo. Mixtape wayfarers marfa, tacos jianbing enamel pin lo-fi beard taiyaki shaman fingerstache. Lumbersexual gentrify roof party, scenester air plant listicle live-edge.</p>
          </div>
          <div class="col-sm-6">
            <h3>Bronzeamento</h3>
            <p>Banjo drinking vinegar viral, kogi stumptown pop-up semiotics palo santo. Mixtape wayfarers marfa, tacos jianbing enamel pin lo-fi beard taiyaki shaman fingerstache. Lumbersexual gentrify roof party, scenester air plant listicle live-edge.</p>
          </div>
          <div class="col-sm-6">
            <h3>Bronzeamento</h3>
            <p>Banjo drinking vinegar viral, kogi stumptown pop-up semiotics palo santo. Mixtape wayfarers marfa, tacos jianbing enamel pin lo-fi beard taiyaki shaman fingerstache. Lumbersexual gentrify roof party, scenester air plant listicle live-edge.</p>
          </div>
          <div class="col-xs-12 center-xs">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deleniti voluptates fugit odit, alias similique optio laborum aliquam consectetur sed ut illo ipsa dignissimos. Et provident recusandae optio accusantium mollitia!</p>
          </div>
        </section>
      </div>
      
    </main>

    {% include footer.html %}

  </body>

</html>
