<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    

    <main class="page-content" aria-label="Content">
      <section class="hero">
          {% include header.html %}
          <div class="hero-wrapper row center-xs">
            <div class="col-xs-12" style="z-index: 99;">
              <div class="logo">
                <img src="/assets/images/logo.png" alt="Bronzeado Natural">
              </div>
            </div>
            
            <div class="col-md-7 col-md-offset-1 start-md">
              <div class="phrases">
                <div><h4>Marcas Impecáveis</h4></div>
                <div><h4>Resultado Duradouro.</h4></div>
                <div><h4>Sessões de 120min</h4></div>
                <div><h4>Bronzeamento Saudável</h4></div>
              </div>
            </div>
            <div class="btn btn-arrow"></div>
          </div>     
      </section>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
