<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    

    <main class="page-content" aria-label="Content">
      <section class="hero">
          {% include header.html %}     
          <div class="logo"></div>
          <div class="phrases">
            <div><h4>Marcas Impecáveis</h4></div>
            <div><h4>Resultado Duradouro.</h4></div>
            <div><h4>Sessões de 120min</h4></div>
            <div><h4>Bronzeamento Saudável</h4></div>
          </div>
          <div class="btn btn-arrow"></div>
      </section>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
